*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

body{
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #333;
    
}
.container{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}
.task__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input__btn{
    padding: 15px 0;
}
.logo {
  color: #ddd;
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;
}
.task__input{
    width: 400px;
    padding: 10px 5px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
}
.btn{
    padding: 10px 5px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 4px;
    
}
.todo-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.mask-num{
    border: 2px solid #000;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
}
.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked){
   z-index: 1;
   width: 20px;
   height: 20px;
   margin-top: 6px;
   margin-right: 10px;
}
.btn-remove {
    border: 1px solid #2a2f36;
    font-size: 12px;
    border: 2px solid #2a2f36;
    background-color: #333333;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
}
.btn-remove:hover {
  background-color: #535151;
  border-color: #535151;
}
.mask-list.complete-list li {
  border-left-color: #999;
  opacity: .5;
}